::-webkit-scrollbar {
    width: 0px;
}
.modal-animation{
  animation: modalAnimation 0.5s ease-in-out;
}
@keyframes modalAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}